@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Dosis:wght@300&display=swap');

.content {
    background-color: #0e0e10;
    min-height: 80vh;
    border-bottom: 1px solid #2a94f4;
}
.content_handle {
    margin-top: 4vh;
}
.content_address {
    color: #c7c7c7;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 2.5em;
}
.address_title {
    font-size: 30px;
}
#address_list {
    font-size: 18px;
}