@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Dosis:wght@300&display=swap');
/* Header Navigation */
.navigation_wrapper {
    padding-top: 0.6vh;
}
.navigation_title {
    font-family: 'Allerta Stencil', sans-serif;
    color: #d7d7d7;
    font-size: 35px;
}
.navigation_item {
    padding-top: 0.8vh;
    color: #d7d7d7;
    font-size: 30px;
}
.mobileBar {
    border-radius: 3px;
    border: 1px solid green;
    padding-right: 5px;
    padding-left: 5px;
    height: 30px;
    width: 25px;
    filter: invert(47%) sepia(90%) saturate(2055%) hue-rotate(188deg) brightness(97%) contrast(96%);
}
/* Team Page */
.teamTextrow {
    padding-top: 1.5vh;
    color: #d7d7d7;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    padding-bottom: 10vh;
}
#dAvatar {
    background-image: url("../assets/team/dAvatar.webp");
    background-size: cover;
}
#rAvatar {
    background-image: url("../assets/team/rAvatar.webp");
    background-size: cover;
}
#jAvatar {
    background-image: url("../assets/team/jAvatar.webp");
    background-size: cover;
}
.aCircle {
    text-align: left;
    height: 300px;
    width: 300px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.engineers_avatar {
    padding-top: 10vh;
}
.engine_avatar_svg {
    width: 250px;
}
.teamwrapper {
    background: linear-gradient(270deg, #2a94f4, #4bc5cf, #a24bcf);
    background-size: 600% 600%;
    min-height: 100vh;
    -webkit-animation: TeamG 30s ease infinite;
    -moz-animation: TeamG 30s ease infinite;
    animation: TeamG 30s ease infinite;
}
.teamFilter {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    min-height: 100vh;
}
/* Main Page */
.dFont {
    font-family: 'Dosis', sans-serif;
}
.darkThemeTextColor {
    color: #d7d7d7;
}
.colorHighlight {
    color: #2a94f4;
}
.text_center {
    text-align: center;
}
.fonts_25 {
    font-size: 25px;
}
.fonts_50 {
    font-size: 50px;
}
.Wrapper100 {
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}
.featureText {
    padding-top: 8vh;
}
.darkThemeBackground {
    min-height: 100vh;
    background-color: #0e0e10;
}
/* Scroll-Down Icon */
.scrollDownIcon:hover {
    width: 45px;
    height: 45px;
    transition: 0.5s;
    cursor: pointer;
}
.scrollDownButton {
    position: absolute;
    bottom: 50px;
    text-align: center;
    filter: invert(47%) sepia(90%) saturate(2055%) hue-rotate(188deg) brightness(97%) contrast(96%);
}
.scrollDownIcon {
    width: 35px;
    height: 35px;
}
/* Responsive Media-Queries */
@media (min-width: 500px) {
    .mobileBar {
        visibility: hidden;
    }
}
@media (min-width: 790px) {
    .title_top5BG_top5SM {
        padding-top: 5vh;
    }
    .title_top25BG_top10SM {
        padding-top: 25vh;
    }
}
@media (max-width: 790px) {
    .title_top10BG_top5SM {
        padding-top: 5vh;
    }
    .title_top25BG_top10SM {
        padding-top: 10vh;
    }
    .text_center {
        padding-top: 5vh;
    }
}
@media (max-width: 330px) {
    .aCircle {
        margin-left: -8.33333333%;
    }
}
@media (max-width: 390px) {
    .hideItem304 {
        display: none;
        visibility: hidden;
    }
    .featureText {
        padding-bottom: 5vh;
    }
}
@media (max-width: 576px) {
    .hideSm {
        display: none;
        visibility: hidden;
    }
}
@media (max-width: 1694px) {
    .fonts_25 {
        font-size: 23px;
    }
}
/* Animation */
@-webkit-keyframes TeamG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes TeamG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes TeamG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}