@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
.dFont {
    font-family: 'Dosis', sans-serif;
}
.darkThemeTextColor {
    color: #d7d7d7;
}
.colorHighlight {
    color: #2a94f4;
}
.text_center {
    text-align: center;
}
.fonts_25 {
    font-size: 25px;
}
.fonts_50 {
    font-size: 50px;
}
.Wrapper100 {
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}
.featureText {
    padding-top: 8vh;
}
.darkThemeBackground {
    min-height: 100vh;
    background-color: #0e0e10;
}
/* Scroll-Down Icon */
.scrollDownIcon:hover {
    width: 45px;
    height: 45px;
    transition: 0.5s;
    cursor: pointer;
}
.scrollDownButton {
    position: absolute;
    bottom: 50px;
    text-align: center;
    filter: invert(47%) sepia(90%) saturate(2055%) hue-rotate(188deg) brightness(97%) contrast(96%);
}
.scrollDownIcon {
    width: 35px;
    height: 35px;
}
/* Responsive Media-Queries */

@media (min-width: 790px) {
    .title_top5BG_top5SM {
        padding-top: 5vh;
    }
    .title_top25BG_top10SM {
        padding-top: 25vh;
    }
}
@media (max-width: 790px) {
    .title_top10BG_top5SM {
        padding-top: 5vh;
    }
    .title_top25BG_top10SM {
        padding-top: 10vh;
    }
}
@media (max-width: 360px) {
    .hideItem304 {
        display: none;
        visibility: hidden;
    }
}
@media (max-width: 576px) {
    .hideSm {
        display: none;
        visibility: hidden;
    }
}
@media (max-width: 1694px) {
    .fonts_25 {
        font-size: 23px;
    }
}